.nyc_output/
.vscode/c_cpp_properties.json
.vscode/ipch
.vscode/settings.json
.nx/
bin/
build/
coverage/
dist/
dist-test/
/docs/.vitepress/cache
/docs/.vitepress/dist
/docs/base91
/docs/duckdb
/docs/expat
/docs/graphviz
/docs/zstd
/docs/README.md
/emsdk*
/lib-*
node_modules/
/packages/llama/docs
/packages/javac/
/rust
/third-party
/src-ts/*.wasm.ts
/tmp
types/
/wasi-sdk*
/wit-bindgen
/vcpkg
__screenshots__/
.coveralls.yml
*.tsbuildinfo

.nx/cache
.nx/workspace-data
