.nyc_output/
.vscode/c_cpp_properties.json
.vscode/ipch
.vscode/settings.json
.nx/
bin/
build/
coverage/
dist/
dist-test/
target/
/packages-java/base91/src/main/resources/base91lib.wasm
/packages-java/graphviz/src/main/resources/graphvizlib.wasm
/.vitepress/cache
/.vitepress/dist
/docs/base91
/docs/duckdb
/docs/expat
/docs/graphviz
/docs/llama
/docs/zstd
/docs/nam-core
/docs/packages
/docs/README.md
/emsdk*
/lib-*
node_modules/
/packages/llama/docs
/packages/javac/
/rust
/third-party
/src-ts/*.wasm.ts
/tmp
types/
/wasi-sdk*
/wit-bindgen
/vcpkg
/emsdk

__screenshots__/
packages/*/.vitest-attachments
.coveralls.yml
*.tsbuildinfo

.nx/cache
.nx/workspace-data
