name: Publish Package

on:
  push:
    tags:
      - "*"

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "16.x"
          registry-url: "https://registry.npmjs.org"
          scope: "@hpcc-js"
      - run: npm ci
      - run: npm run lint
      - run: sudo apt-get update
      - run: sudo apt-get install -y build-essential
      - run: sudo apt-get install -y git cmake wget
      - run: sudo apt-get install -y gcc-multilib g++-multilib pkg-config autoconf bison libtool flex zlib1g-dev
      - run: sudo apt-get install -y python3 python3-pip
      - run: npm run install-build-deps
      - run: npm run build;
      - run: npm run test;
      - run: npm publish
        env:
          CI: true
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
      - run: npm run purge-jsdelivr
      - name: Create a Release
        uses: elgohr/Github-Release-Action@master
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
